<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>User:</b>
  <%= @post.user.name %>
</p>


<%= link_to 'Edit', edit_post_path(@user), class: 'button'   %>
